@import "normalize";
@import "foundation";
@import "setup";
@import "component";
@import "big-video";
@import "font-awesome/font-awesome";

/* CSS Custom Style Document
Colors:
Dark Blue: #050B23
Reddish Brown: #8B2F3E
Bright Green: #477001
Nuetral Green: #878B3F
Dull Green: #52573D
 */

/* Default Link Styles */
body {
	color: $base;
	font-family: 'Adamina', serif;
}

a {
  	color: $accent-light;
}
a:hover, a:focus {
    color: $accent; 
}

// target external links
a.external-link:after {
  content: "\f08e";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  padding-left: .25em;
}

h1, h2, h3, h4, h5, h6, .name {
	color: $accent;
	font-family: 'Advent Pro', sans-serif;
}

.section ul, .section ol {
	margin-left: 2em;
}

blockquote {
    border-left: 1px solid #fff;
	color: #fff;
	
	 cite {
	  	color: $highlight;
	 }
}

.figure-caption {
	line-height: 1.25;
}

.light-text {
    color: $highlight;
}

.top-bar.expanded, .top-bar.expanded .title-area {
	background: $base-light;
}

.top-bar, .top-bar-section li a:not(.button), .top-bar-section ul {
	background: $base-light;
}

.top-bar-section li a:not(.button):hover, .name h1 a:hover {
	background: $base;
}

.top-bar-section li a:not(.button):focus, .name h1 a:focus {
	background: #000;
}

.top-bar .toggle-topbar.menu-icon a {
	text-indent: -60px;
}

.dark {
    background-color: $base;
	padding: 30px 0 20px 0;
}

.panel:not(.color):hover {
	background: #e2e2e2;
}

.main {
	padding: 20px 0 20px 0;
}

table li {
	margin-left: 2em;
}

.color {
    background-color: $accent-light;
	a {
	color: $highlight;
	}
	a:hover, a:focus {
	color: $base;
	text-decoration: underline;
	}
}

.color {
    border-color: #52573D;
	h1, h2, h3, h4, h5, h6, p {
    	color: #fff;
	}
}

.button {
	-webkit-box-shadow: none;
	box-shadow: none;
}
	
	button, .button {
    background-color: $accent;
	border-color: $accent;
}

.button .button-foundicon {
	padding-right: 6px;
	vertical-align: middle;
}

button:hover, button:focus, .button:hover, .button:focus {
	background-color: $accent-light;
	border-color: $accent-light;
}

.label { 
background-color: $accent-light;
}

.inline-list > li > a > i {
	font-size: 2em;
}

small {
	font-size: 80%;
}

/* ------ Header styles ----------- 
-
-
-------------------------------- */

.page-header {
  margin-top: -50px;
  padding-top: 50px;
  padding-bottom: 20px;
  background: url(../img/clownfish.jpg) no-repeat;
  background-size: 100%;
  background-position: center center; 
  
  h1, h2 {
  color: #fff;
  text-shadow: 0px 0px 5px #000; 
  }
  
  h2 {
	  font-size: 1.2em;
  }
  
}

.img-logo {
  border-radius: 100%;
  border: 2px solid #fff; 
  vertical-align: middle;
}

.page-header h1 {
	display: inline-block;
	text-align: center;
	-webkit-transform: skew(-14deg) rotate(-6deg);
	transform: skew(-14deg) rotate(-6deg) translateZ(0);
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	margin-left: .5em;
}

/* ------ Footer styles ----------- 
-
-
-------------------------------- */

footer a {
	color: #fff;
}

.figure-box {
	margin-bottom: .75em;
}

// Hover for font awesome

.fa {
	padding-right: .05em;
	transition: color 0.5s ease;

	&:hover {
		color: $accent-light;
	}
}

/* ------ Form Validaton styles ----------- 
-
-
-------------------------------- */

label small {
	text-transform: capitalize;
	color: #666666;
}

.error small, small.error {
	font-weight: bold;
	background: #fff;
	color: #c60f13;
	
	display: inline;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 0.75em;
	font-weight: bold;
}

.error label, .error label.error {
	color: #c60f13;
}

[data-abide] .error small.error, [data-abide] span.error, [data-abide] small.error {
	display: block;
	padding: 0.375em 0.25em;
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 0.75em;
	font-weight: bold;
	background: #c60f13;
	color: white;
}

[data-abide] span.error, [data-abide] small.error {
	display: none;
}

#contactForm input:required:valid, #contactForm textarea:required:valid { /* when a field is considered valid by the browser */
	background: #fff url(../img/valid.png) 98% center no-repeat;
	-webkit-transition: none;
	transition: none;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

.modalContact .row.collapse .large-12 {
	padding-left: 0.9375em;
	padding-right: 0.9375em;
}

.modalContact .row.collapse .large-2 {
	padding-left: 0.9375em;
}

.modalContact .row.collapse .large-10 {
	padding-right: 0.9375em;
}

@media only screen and (min-width: 48em) {
  .page-header {
	  margin-top: -50px;
	  padding-top: 200px;
	  padding-bottom: 50px; 
	  
	  h2 {
		  font-size: 1.75em;
	  }
}
  
  .footer-social-icons, footer ul.inline-list {
	  float: right;
	  margin-bottom: 0;
  }
  
}

@media only screen and (min-width: 58.75em) {
	
	.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
		border-right: solid 1px $base;
		border-left: solid 1px $base-light;
	}
	
	.top-bar-section .dropdown li label {
		background: $base;
	}
	
	.top-bar-section li a:not(.button) {
		padding: 0 2em;
  }
  
  .top-bar-section .dropdown li a {
	  padding: .5em 1em;
  }
  
  .page-header h2 {
	  font-size: 2.25em;
  }
  		
}

/* ------ Video Tabbed container styles ----------- 
-
-
-------------------------------- */

.top-bar-section .dropdown label {
	color: $highlight;
}

.section-container.auto section .title, .section-container.auto .section .title {
	border-radius: .4em .4em 0 0;
}

/* ------ SVG and Icon Fonts ----------- 
-
-
-------------------------------- */

.code-icon-font {
    display: block;
    font-size: 8.65em;
    text-align: left;
	line-height: 152px;
	
	a {
		color: $accent;
	}
}



/**** IMPORTANT THESE ARE NEEDED ****/	
	#container {
	  float:none;
	  background: #ffffff;
	  padding: 0;
	  margin:0 auto;
	  margin-bottom:30px;
	  /* optional */
	  -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	  border-radius: 5px;
	  /* content-box is NEEDED. if border-box is enabled
	     then it when Masonry calculates the height and width
		 of the container it counts incorrectly and the result
		 images running to the edge of the container on the right
		 and bottom sides. Only apply content-box to the container. */
	  -webkit-box-sizing:content-box;
	  -moz-box-sizing:content-box;
	  box-sizing:content-box;
	}

	.box {
	  margin: 5px;
	  float: left;
	  /* optional */
	  -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	  border-radius: 5px;
	}
	.box img, { display: block; width: 100%; }

	/* unfortunately masonry needs hard pxs for images */
	.col1 { width: 80px; }
	.col2 { width: 180px; }
	.col3 { width: 280px; }
	.col4 { width: 380px; }
	.col5 { width: 480px; }
	.col1 img { max-width: 80px; }
	.col2 img { max-width: 180px; }
	.col3 img { max-width: 280px; }
	.col4 img { max-width: 380px; }
	.col5 img { max-width: 480px; }

	/* animations for the transition/reordering */
	.transitions-enabled.masonry,
	.transitions-enabled.masonry .masonry-brick {
	  -webkit-transition-duration: 0.7s;
	  -moz-transition-duration: 0.7s;
	  -ms-transition-duration: 0.7s;
	  -o-transition-duration: 0.7s;
	  transition-duration: 0.7s;
	}
	.transitions-enabled.masonry {
	  -webkit-transition-property: height, width;
	  -moz-transition-property: height, width;
	  -ms-transition-property: height, width;
	  -o-transition-property: height, width;
	  transition-property: height, width;
	}
	.transitions-enabled.masonry  .masonry-brick {
	  -webkit-transition-property: left, right, top;
	  -moz-transition-property: left, right, top;
	  -ms-transition-property: left, right, top;
	  -o-transition-property: left, right, top;
	  transition-property: left, right, top;
	}



/**** Clearfix ****/
	.clearfix:before, .clearfix:after { content: ""; display: table; }
	.clearfix:after { clear: both; }
	.clearfix { zoom: 1; }

